<div style="padding:5px;">
	<div *ngIf="type=='infusion'">
		<form (ngSubmit)="saveForm()" #infusionForm="ngForm" >
			<md-input-container class="big">
				<input md-input type="number" name="currentRate" placeholder="Current Infusion Rate (units/hr)" required [(ngModel)]="form.values.currentRate">
			</md-input-container>
			<br>
			<md-input-container class="big">
				<input md-input type="number" name="plasmaGlucose" placeholder="Plasma Glucose (mg/dl)" required [(ngModel)]="form.values.plasmaGlucose">
			</md-input-container>
			<br>
			<md-input-container class="big">
				<input md-input type="number" name="modifiedRate" placeholder="Modified Infusion Rate (units/hr)" required [(ngModel)]="form.values.modifiedRate">
			</md-input-container>
			
			<div style="text-align:center;margin-top:10px;">
				<button md-raised-button type="submit" [disabled]="!infusionForm.form.valid">Save</button>
				<a md-button (click)="goBack()">Cancel</a>
			</div>
		</form>
	</div>

	<div *ngIf="type=='subcutaneous'">
		<form (ngSubmit)="saveForm()" #subcutaneousForm="ngForm" >
			<md-select placeholder="Dosage Type" name="diabetes" required [(ngModel)]="form.values.dosageType" class="big">
				<md-option value="Before Breakfast" >Before Breakfast</md-option>
				<md-option value="10am" >10am</md-option>			
				<md-option value="Before Lunch">Before Lunch</md-option>
				<md-option value="Before Evening Snack">Before Evening Snack</md-option>
				<md-option value="Before Dinner">Before Dinner</md-option>
				<md-option value="Bedtime">Bedtime</md-option>
			</md-select>
			<br>
			<md-input-container class="big">
				<input md-input type="number" name="plasmaGlucose" placeholder="Plasma Glucose (mg/dl)" required [(ngModel)]="form.values.plasmaGlucose">
			</md-input-container>					
			
			<div style="text-align:center;margin-top:10px;">
				<button md-raised-button type="submit" [disabled]="!subcutaneousForm.form.valid">Save</button>
				<a md-button (click)="goBack()">Cancel</a>
			</div>
		</form>
	</div>
</div>
