<div style="padding:5px;">	
	<form (ngSubmit)="saveForm()" #insulinForm="ngForm" >
		<div *ngIf="type=='infusion'">
			<h3>Insulin Infusion Form</h3>
			<md-input-container class="big">
				<input mdInput type="number" name="currentRate" placeholder="Current Infusion Rate (units/hr)" required [(ngModel)]="form.data.currentRate">
			</md-input-container>
			<br>
			<md-input-container class="big">
				<input mdInput type="number" name="plasmaGlucose" placeholder="Plasma Glucose (mg/dl)" required [(ngModel)]="form.data.plasmaGlucose">
			</md-input-container>
			<div style="text-align:center;margin-top:10px;">
				<button md-raised-button type="submit" [disabled]="!insulinForm.form.valid">Get Recommendation</button>
				<button md-raised-button (click)="changeProfile()">Change Insulin Type</button>
				<a md-button (click)="goBack()">Cancel</a>
			</div>
		</div>
		<div *ngIf="type=='subcutaneous'">
			<h3>Subcutaneous Insulin Form</h3>
			<md-select placeholder="Dosage Type" name="dosageType" required [(ngModel)]="form.data.dosageType" class="big">
				<md-option value="Before Breakfast" >Before Breakfast</md-option>
				<md-option value="10:00 AM" >10:00 AM</md-option>			
				<md-option value="Before Lunch">Before Lunch</md-option>
				<md-option value="Before Evening Snack">Before Evening Snack</md-option>
				<md-option value="Before Dinner">Before Dinner</md-option>
				<md-option value="Bedtime">Bedtime</md-option>
			</md-select>
			<br>
			<md-input-container class="big">
				<input mdInput type="number" name="plasmaGlucose" placeholder="Plasma Glucose (mg/dl)" required [(ngModel)]="form.data.plasmaGlucose">
			</md-input-container>
			<div style="text-align:center;margin-top:10px;">
				<button md-raised-button type="submit" [disabled]="!insulinForm.form.valid">Get Recommendation</button>
				<button md-raised-button (click)="changeProfile()">Change Insulin Type</button>
				<a md-button (click)="goBack()">Cancel</a>
			</div>			
		</div>
		<div *ngIf="type=='subcutaneousDose' || type == 'infusionDose' ">
			<div *ngIf="recommendation">
				<h3>Recommendation</h3>
				<div [innerHTML]="recommendation.text"></div>	
			</div>
			<br>
			<h3>{{recommendation?.dosageType}} Dose</h3>
			<md-input-container class="big">
				<input mdInput type="number" name="insulinDose" placeholder="Insulin Dose Given" required [(ngModel)]="form.data.insulinDose">
			</md-input-container>
			<div style="text-align:center;margin-top:10px;">
				<button md-raised-button type="submit" [disabled]="!insulinForm.form.valid">Save</button>	
				<a md-button (click)="goBack()">Cancel</a>			
			</div>			
		</div>		
	</form>		
</div>
