<div class="splashScreen">
	<div style="position: absolute;top:10px;">
		<div class="legal">
			This application has been developed only for the professional practice of Dr. Beena Bansal.<br> By using this application you accept these <a href="https://github.com/pravincar/insulinprotocol/blob/master/LICENSE" target="_blank">terms and conditions</a>.
		</div>	
	</div>	
	<div class="appTitle">
		INSULIN PLUS
		<div>
			<img src="assets/insulin.png" srcset="assets/insulin@2x.png 2x,assets/insulin@3x.png 3x" class="insulin">
		</div>
	</div>
	<div style="position:absolute;bottom:61px;width:100%;text-align:center;">
		<img src="assets/btn_google_signin_light_normal_web.png" style="cursor: pointer;height:50px;" (click) = "signIn()" >	
	</div>
</div>