html{margin:0;height:100%;width:100%;}
body{font-family:Helvetica,Arial,Sans-Serif;margin:0;height:100%;width:100%;color:#222;}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.splashScreen{
    height:100%;
    width: 100%;
    background-color: #000; 
    background-image: url(/assets/splashscreen.jpg); 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loading{font-size:20px;color:#CCC;padding-top:50px;text-align: center;}
.nodata{color:#CCC;margin-top:5px;text-align:center;}
.mainwindow{max-width:800px;margin:0 auto;position:relative;overflow:hidden;height:100%;}
.topfixed{position:absolute;top:0;left:0;width:100%;z-index:10;background-color: #FFF;}
.padded{padding:5px;}

.fright{float:right;} .filler{flex:1 1 auto;}
.full{width:100%;}
.big{width:300px;margin-top:5px;}
.medium{width:200px;margin-top:5px;}
.small{width:100px;margin-top:5px;}
.centered{text-align:center;}

.table{border-collapse: collapse;width:100%;}
.table td,th{border:1px solid #AAA;text-align:center;}
.table td{font-size:12px;}

.spinner{margin:0 auto;}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/material-icon-font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/material-icon-font/MaterialIcons-Regular.woff2) format('woff2'),
  url(/material-icon-font/MaterialIcons-Regular.woff) format('woff'),
  url(/material-icon-font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  padding:4px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}